<div class="required field {{if isInvalid 'error' ''}}">
	{{#if icon}}
		<div class="ui left icon input">
			<i class="{{icon}} icon"></i>
			{{input type=type placeholder=placeholder value=value name=valuePath}}
		</div>
	{{else}}
		{{input type=type placeholder=placeholder value=value name=valuePath}}
	{{/if}}
</div>

{{yield}}
