<form class="ui form">
	{{#if errorMessage}}
		<div class="ui error visible message">
			{{errorMessage}}
		</div>
	{{/if}}
	<div class="ui stacked segment">
		{{validated-input label="Username" type="text" placeholder="Darth"
		value=user.username
		valuePath="username"
		icon="user"
		model=user}}

		{{validated-input label="Email" type="email"
		placeholder="darth@death-star.biz"
		value=user.email
		valuePath="email"
		icon="at"
		model=user}}

		{{validated-input label="Password" type="password"
		placeholder="d4r7h-is-n0t-3vi1"
		value=user.password
		valuePath="password"
		icon="lock"
		model=user}}

		{{validated-input label="Confirm Password" type="password"
		placeholder="d4r7h-is-n0t-3vi1"
		value=user.passwordConfirmation
		valuePath="passwordConfirmation"
		icon="lock"
		model=user}}

		<button type="submit" class="ui large orange submit animated button"
						disabled={{isDisabled}}
			{{action 'createAccount' user}}>
			<div class="visible content">S'enregistrer</div>
			<div class="hidden content">
				<i class="right arrow icon"></i>
			</div>
		</button>

	</div>
</form>
{{yield}}
