<section class="container" local-class="container">
	<div class="row">
		<div class="col-sm-1" local-class="left_align">
			{{#link-to 'profile'}}
				<img src="/assets/images/settings.png" local-class="settings_icon">
			{{/link-to}}
		</div>
		<div class="col-sm-10" local-class="white_text">
			<img src="/assets/images/profilepicture.jpg" local-class="profilepicture">
			{{ user.name }}
		</div>
		<div class="col-sm-1" local-class="rigth_align">
			<img src="/assets/images/logout.png" local-class="logout_icon"
				{{action 'logout'}}>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4" local-class="clock">
			{{moment-format (now) 'HH:MM'
			locale='fr'
			timeZone='Europe/Paris'
			interval=1000
			allowEmpty=true}}
		</div>

		<div class="col-sm-offset-0 col-sm-4" local-class="total_cars">
			{{ fleetInfo.vehicles.length }}
		</div>
		<div class="col-sm-3" local-class="number_cars">
			Total<br>Fleet
		</div>
	</div>


	<div class="row">
		<div local-class="unused_cars">
			<div class="col-sm-2" local-class="number_unused_cars">
				{{ fleetInfo.availableVehicles.length }}
			</div>
			<div class="col-sm-3 " local-class="number_unused_cars_key">
				Unused<br>Vehicules
			</div>
			{{#link-to 'rides.plan'}}
				<div class="col-sm-7" local-class="plan_trip">
					Plan a trip
				</div>
			{{/link-to}}
		</div>
	</div>


	<div class="row">
		<div local-class="used_cars">
			<div class="col-sm-2" local-class="number_used_cars">
				{{ fleetInfo.usedVehicles.length }}
			</div>
			<div class="col-sm-3" local-class="number_used_cars_key">
				used<br>  Vehicules
			</div>
			{{#link-to 'rides'}}
				<div class="col-sm-7" local-class="view_rides">
					View Rides
				</div>
			{{/link-to}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-7" local-class="money">
			<div local-class="total_money_label">
				Total<br>Money
			</div>
			<div local-class="total_money">
				{{format-money user.money}} €
			</div>
		</div>
		<div class="col-sm-offset-0 col-sm-4" local-class="buy">
			{{#link-to 'vehicles.store'}}
				<p>Buy <br> more <br>Vehicules</p>
			{{/link-to}}
		</div>
	</div>
</section>
{{yield}}
